In [1]:
# Here are the libraries I am using
import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
from os import path
import json
import csv
import twitter

In [2]:
api = twitter.Api(consumer_key='VMEtmluCX5kbgdpxVGCQpKsU3',
                  consumer_secret='EE7IAgm84rzEaMYmxzDVFRqc0VG5TPCQ91PaExgn9tkv8WdrJ7',
                  access_token_key='894677768465731586-w4kRfckM6aRHvdEPwX7ycYCCXc9a2Y1',
                  access_token_secret='aup3PMyri8zRV66XKBcThxO08HSA3PSZfWvdKseC5JEPq',
                 sleep_on_rate_limit=True)

In [3]:
df_2015_SP = pd.read_csv('2015_SP_candidates.csv')

In [4]:
df_2015_SP.head(10)

,Unnamed: 0,name,gender,birth_date,party_name,post_label,elected,twitter_username,twitter_user_id
0,2,Helen Ceri Clarke,female,NaN,Liberal Democrats,Aberavon,False,Helenceri,18979772
1,3,Edward Yi He,male,NaN,Conservative and Unionist Party,Aberavon,False,Edward4East,2935084827
2,7,Stephen Kinnock,male,1970-01-01,Labour Party,Aberavon,True,SKinnock,722347303
3,9,Victor Babu,male,NaN,Liberal Democrats,Aberconwy,False,Bathula_Victor,2347509589
4,10,Guto Bebb,male,1968-10-09,Conservative and Unionist Party,Aberconwy,True,GutoAberconwy,752820350371717120
5,14,Mary Wimbury,female,NaN,Labour Party,Aberconwy,False,MaryWimbury,77320497
6,17,Euan Davidson,male,1994-07-07,Liberal Democrats,Aberdeen North,False,euandavidson,138167286
7,21,Anne Begg,female,1955-12-06,Labour Party,Aberdeen South,False,annebegg,105880024
8,24,Denis Rixson,male,NaN,Liberal Democrats,Aberdeen South,False,RDJRixson,3068561164
9,26,Ross Thomson,male,1987-09-21,Conservative and Unionist Party,Aberdeen South,False,RossThomson_MP,539849453

In [5]:
list_id_2015_SP = df_2015_SP.twitter_user_id.tolist()

In [6]:
new_list_id = list_id_2015_SP

In [7]:
len(new_list_id)

1444

In [12]:
# list_id_2015_SP
count = 1292
# dataset_15sp = []

In [13]:
for _id in new_list_id[count:1300]:
    print(_id, count)
    Get_degree(userid = _id)
    
#     with open('neighbor_information49.csv', 'a') as myfile:
#         myfile.write('{}\n'.format(','.join(map(str,Get_degree(userid = _id)))))
    count = count +1
#         wr.writerow(Get_degree(userid = id))

2524547796 1292
2524547796 get 708 friends
2524547796 get 708 friends done
22378075 1293
22378075 get 3669 friends
22378075 get 3669 friends done
608932775 1294
608932775 get 3443 friends
608932775 get 3443 friends done
1681525201 1295
1681525201 get 58 friends
1681525201 get 58 friends done
76650839 1296
76650839 get 10124 friends
76650839 get 10124 friends done
169898513 1297
169898513 get 4856 friends
169898513 get 4856 friends done
19811175 1298
19811175 get 311 friends
19811175 get 311 friends done
541898068 1299
541898068 with error

In [ ]:
new_list_id[49]

In [8]:
def Get_degree(userid = 1603153040):
    record = []
    try:
        friend_list = api.GetFollowers(user_id = userid)
    except:
        deadlist.append(userid)
        print(str(userid) + ' with error')
        return 
   
    print('{} get {} friends'.format(userid, len(friend_list)))
    friend_degree = []
    follower_degree = []
    for users in friend_list:

        followers =  users._json.get('followers_count')
        friends =  users._json.get('friends_count')
        friend_degree.append(friends)
        follower_degree.append(followers)
    avg_fr = sum(friend_degree)/len(friend_list)
    max_fr = max(friend_degree)
    min_fr = min(friend_degree)
    avg_fo = sum(follower_degree)/len(friend_list)
    max_fo = max(follower_degree)
    min_fo = min(follower_degree)
    var_fr = np.var(friend_degree)
    var_fo = np.var(follower_degree)
    record = [userid, avg_fr, max_fr, min_fr, var_fr, avg_fo, max_fo, min_fo, var_fo]
    print('{} get {} friends done'.format(userid, len(friend_list)))
    with open('neighbor_information1000.csv', 'a') as myfile:
        myfile.write('{}\n'.format(','.join(map(str,record))))
    return record

In [34]:
Get_degree(71084757)

71084757 with error

[]

In [9]:
deadlist = []

In [20]:
deadlist.append(new_list_id[49])

In [ ]:
deadlist

In [1]:
count

NameError: name 'count' is not defined

In [13]:
new_list_id[1145]

14284260