In [1]:
# Here are the libraries I am using
import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
from os import path
import json
import csv
import twitter

In [2]:
api = twitter.Api(consumer_key='FDAGNIITr95Vu8Rnk4JAcxzCe',
                  consumer_secret='uSZmoA593fn2u9skxDRBkC3JxkTSKFxGAYrxrAKV3SJJOnDatA',
                  access_token_key='893915820069466112-J5fgZIA1VRKCaRgRGK3rPvLuDle4NH1',
                  access_token_secret='mfzeYGqTOFNjxrLS7OLSmkQa2USYuFu9bdYN8e9SacgpN',
                 sleep_on_rate_limit=True)

In [3]:
df_2015_SP = pd.read_csv('2017_SP_candidates.csv')

In [4]:
df_2015_SP.head(10)

,Unnamed: 0,name,gender,birth_date,party_name,post_label,elected,twitter_username,twitter_user_id
0,2,Stephen Kinnock,male,1970-01-01,Labour Party,Aberavon,True,SKinnock,722347303
1,3,Cen Phillips,male,1971,Liberal Democrats,Aberavon,False,CenLD,1872769464
2,4,Sadie Vidal,female,NaN,Conservative and Unionist Party,Aberavon,False,sadievidal,19447175
3,5,Guto Bebb,male,1968-10-09,Conservative and Unionist Party,Aberconwy,True,GutoAberconwy,752820350371717120
4,8,Emily Owen,Female,1995,Labour Party,Aberconwy,False,Emily4Aberconwy,92363214
5,10,Isobel Davidson,female,NaN,Liberal Democrats,Aberdeen North,False,isobeldavidson,1553831654
6,12,Grace O'Keeffe,female,NaN,Conservative and Unionist Party,Aberdeen North,False,Grace_E_OKeeffe,858789131622723584
7,13,Orr Vinegold,male,1988,Labour Party,Aberdeen North,False,OrrVinegoldLab,857290145795641344
8,15,Callum O'Dwyer,Male,NaN,Labour Party,Aberdeen South,False,callumjodwyer,65415768
9,16,Ross Thomson,male,1987-09-21,Conservative and Unionist Party,Aberdeen South,True,RossThomson_MP,539849453

In [5]:
list_id_2015_SP = df_2015_SP.twitter_user_id.tolist()

In [6]:
new_list_id = list_id_2015_SP

In [7]:
len(new_list_id)

1455

In [13]:
# list_id_2015_SP 500_1000  730
count = 730
# dataset_15sp = []

In [ ]:
for _id in new_list_id[count:1000]:
    print(_id, count)
    Get_degree(userid = _id)
    
#     with open('neighbor_information49.csv', 'a') as myfile:
#         myfile.write('{}\n'.format(','.join(map(str,Get_degree(userid = _id)))))
    count = count +1
#         wr.writerow(Get_degree(userid = id))

31756041 730
31756041 with error
408454349 731
408454349 get 73439 friends
408454349 get 73439 friends done
351657777 732
351657777 get 5304 friends
351657777 get 5304 friends done
18196651 733
18196651 get 1943 friends
18196651 get 1943 friends done
545081356 734
545081356 get 36532 friends
545081356 get 36532 friends done
793663214 735
793663214 get 968 friends
793663214 get 968 friends done
20181974 736
20181974 get 464 friends
20181974 get 464 friends done
859433240452583424 737
859433240452583424 get 635 friends
859433240452583424 get 635 friends done
721026242 738
721026242 get 1711 friends
721026242 get 1711 friends done
240030844 739
240030844 get 663 friends
240030844 get 663 friends done
28543847 740
28543847 get 19348 friends
28543847 get 19348 friends done
127970776 741
127970776 get 2772 friends
127970776 get 2772 friends done
34374472 742
34374472 get 69940 friends
34374472 get 69940 friends done
2935084827 743
2935084827 get 781 friends
2935084827 get 781 friends done
2798113381 744
2798113381 get 77 friends
2798113381 get 77 friends done
3099820919 745
3099820919 get 696 friends
3099820919 get 696 friends done
105800463 746
105800463 get 73416 friends
105800463 get 73416 friends done
181243457 747
181243457 get 438 friends
181243457 get 438 friends done
93178604 748
93178604 get 5071 friends
93178604 get 5071 friends done
207697553 749
207697553 get 8086 friends
207697553 get 8086 friends done
198461357 750
198461357 get 524 friends
198461357 get 524 friends done
389434876 751
389434876 get 34410 friends
389434876 get 34410 friends done
989608254 752
989608254 get 752 friends
989608254 get 752 friends done
855669794934337536 753
855669794934337536 get 348 friends
855669794934337536 get 348 friends done
40451753 754
40451753 get 4672 friends
40451753 get 4672 friends done
52124856 755
52124856 get 10531 friends
52124856 get 10531 friends done
322588960 756
322588960 get 1943 friends
322588960 get 1943 friends done
45884485 757
45884485 get 1483 friends
45884485 get 1483 friends done
174396155 758
174396155 get 8701 friends
174396155 get 8701 friends done
2979904613 759
2979904613 get 2591 friends
2979904613 get 2591 friends done
3240259683 760
3240259683 get 623 friends
3240259683 get 623 friends done
17315312 761
17315312 get 548 friends
17315312 get 548 friends done
19058678 762
19058678 get 25328 friends
19058678 get 25328 friends done
264829864 763
264829864 get 1335 friends
264829864 get 1335 friends done
26796376 764
26796376 get 9542 friends
26796376 get 9542 friends done
44955787 765
44955787 get 37 friends
44955787 get 37 friends done
18904746 766
18904746 get 1227 friends
18904746 get 1227 friends done
860188105982320640 767
860188105982320640 with error
860963957900808192 768
860963957900808192 get 105 friends
860963957900808192 get 105 friends done
20255744 769
20255744 get 3968 friends
20255744 get 3968 friends done
3571183275 770
3571183275 get 313 friends
3571183275 get 313 friends done
233310243 771
233310243 get 9296 friends
233310243 get 9296 friends done
2338660974 772
2338660974 get 358 friends
2338660974 get 358 friends done
481120639 773
481120639 get 10602 friends
481120639 get 10602 friends done
20919048 774
20919048 get 733 friends
20919048 get 733 friends done
34940114 775
34940114 get 46987 friends
34940114 get 46987 friends done
4075449898 776
4075449898 get 19 friends
4075449898 get 19 friends done
1650144662 777
1650144662 get 5330 friends
1650144662 get 5330 friends done
3079742145 778
3079742145 get 1825 friends
3079742145 get 1825 friends done
2739719201 779
2739719201 get 238 friends
2739719201 get 238 friends done
17963897 780
17963897 get 3093 friends
17963897 get 3093 friends done
121109384 781
121109384 get 286 friends
121109384 get 286 friends done
732889793298898944 782
732889793298898944 get 533 friends
732889793298898944 get 533 friends done
254149472 783
254149472 get 475 friends
254149472 get 475 friends done
606306570 784
606306570 get 7960 friends
606306570 get 7960 friends done
747807250819981312 785

In [ ]:
new_list_id[49]

In [9]:
def Get_degree(userid = 1603153040):
    record = []
    try:
        friend_list = api.GetFollowers(user_id = userid)
    except:
        deadlist.append(userid)
        print(str(userid) + ' with error')
        return 
   
    print('{} get {} friends'.format(userid, len(friend_list)))
    friend_degree = []
    follower_degree = []
    for users in friend_list:

        followers =  users._json.get('followers_count')
        friends =  users._json.get('friends_count')
        friend_degree.append(friends)
        follower_degree.append(followers)
    avg_fr = sum(friend_degree)/len(friend_list)
    max_fr = max(friend_degree)
    min_fr = min(friend_degree)
    avg_fo = sum(follower_degree)/len(friend_list)
    max_fo = max(follower_degree)
    min_fo = min(follower_degree)
    var_fr = np.var(friend_degree)
    var_fo = np.var(follower_degree)
    record = [userid, avg_fr, max_fr, min_fr, var_fr, avg_fo, max_fo, min_fo, var_fo]
    print('{} get {} friends done'.format(userid, len(friend_list)))
    with open('neighbor_information_17_500.csv', 'a') as myfile:
        myfile.write('{}\n'.format(','.join(map(str,record))))
    return record

In [34]:
Get_degree(71084757)

71084757 with error

[]

In [10]:
deadlist = []

In [20]:
deadlist.append(new_list_id[49])

In [ ]:
deadlist

In [1]:
count

NameError: name 'count' is not defined

In [13]:
new_list_id[1145]

14284260